.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg-color {
    background-color: rgba(244, 242, 242, 0.9);
}

.logo {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    font-family: 'Inter', sans-serif;
}

.btn {
    background-color: #4E47FF;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
    font-weight: bold;
}

.btn:hover {
    background-color: yellowgreen;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.header {
    background-image: url('./Assets/Hero-bg.png');
    background-repeat: no-repeat;

}

.banner {
    text-align: center;
    padding: 152px 267px;
}

.banner-title {
    font-weight: bold;
    font-size: 65px;
    color: #000000;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.action-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action {
    text-align: left;
    width: 50%;
}

.action-title {
    font-size: 42px;
    font-weight: bold;
}

.action-subtitle {
    font-size: 24px;
    color: #252432;
}

.user-section {
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 80px;
    text-align: center;
    margin-top: 50px;
}

.user-title {
    font-size: 38px;
    font-weight: bold;
}

.user-datas {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.user-data-title {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    font-family: 'Inter', sans-serif;
}

.user-data-subtitle {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.feedback-section {
    margin-top: 60px;
    text-align: center;
    border: 1px solid black;
}

.feedback-title {
    color: #252432;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
}

.card-design {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 20px;
    padding: 24px 24px;
}

.card-1 {
    background-color: #ffff;
    border-radius: 14px;
}

.reviewer {
    display: flex;
    align-items: center;
}

.reviewer-img {
    clip-path: circle(50%);
}

.ready-section {
    background-color: #FFFFFF;
    border-radius: 14px;
    margin-top: 50px;
    padding: 71px 150px;
    text-align: center;
    line-height: 20px;
}

.ready-title {
    font-size: 50px;
    font-weight: bold;
}

.ready-img {
    margin-top: 20px;

}

.touch-section {
    display: flex;
    margin-top: 50px;
    padding: 71px 0;
    justify-content: space-between;


}

.touch-title {
    font-size: 97px;
    font-weight: bold;
}

main input[type="text"],
main input[type="email"],
main textarea {
    height: 54px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
}

main textarea {
    height: 80px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: none;
}

main label {
    font-weight: 500;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.touch-btn {
    width: 100%;
}

footer {
    padding: 104px 455px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFFFFF;
}

.footer-tile {
    color: #4E47FF;
    font-weight: bold;
    font-size: 100px;
    font-family: 'Inter', sans-serif;
}

.footer-subtitle {
    color: #8987A1;
}

ul {
    display: flex;
    justify-content: space-around;
}

ul li {
    text-align: center;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: #8987A1;

}